version: "3.8"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: zerowaste_user
      POSTGRES_PASSWORD: zerowaste_pass
      POSTGRES_DB: zerowaste_db

    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
